canvas-draw {

  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;

  #top-toolbar {
    display: flex;
    position: absolute;
    top: 0;
    padding: 10px;
    pointer-events: none;
    width: 100%;
    justify-content: space-between;
  }

  button[color=light] {
    background-color: transparent;
    color: #626888;
    height: 48px;
    width: 48px;
    box-shadow: none;
  }
}
